<link rel="stylesheet" href="/css/footer.css">
<footer id="footer" class="text-center text-lg-start">
  <section class="p-4 border-bottom">
    <div class="row w-100">
      <div class="col mn-w-150p">
        <span>{{footerContext.connectWithUs}}</span>
      </div>
      <div class="col mn-w-150p">
        <div class="row d-flex flex-wrap justify-content-evenly">
          <div class="col connect-with-us-symbol">
            <a href="" class="me-4 link-secondary"><i class="fab fa-facebook-f"></i></a>
          </div>
          <div class="col connect-with-us-symbol">
            <a href="" class="me-4 link-secondary"><i class="fab fa-twitter"></i></a>
          </div>
          <div class="col connect-with-us-symbol">
            <a href="" class="me-4 link-secondary"><i class="fab fa-google"></i></a>
          </div>
          <div class="col connect-with-us-symbol">
            <a href="" class="me-4 link-secondary"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="m-5">
    <div class="row d-flex flex-wrap justify-content-evenly w-100 m-0">
      <div class="col mn-w-140p mx-w-180p">
        <h6 class="text-uppercase fw-bold mb-4"><i class="fas fa-gem me-3 text-secondary"></i>Teachly</h6>
        <p>{{footerContext.basicCompanydescription}}</p>
      </div>
      <div class="col mn-w-140p mx-w-180p">
        <h6 class="text-uppercase fw-bold mb-4">{{footerContext.usefullLinks}}</h6>

        <div class="row">
          <div class="col">
            <p><a href="\help\pricing" class="text-reset">{{footerContext.pricing}}</a></p>
            <p><a href="\profile\settings" class="text-reset">{{footerContext.settings}}</a></p>
          </div>
          <div class="col">
            <p><a href="\profile\lessons" class="text-reset">{{footerContext.lessons}}</a></p>
            <p><a href="\help" class="text-reset">{{footerContext.help}}</a></p>
          </div>
        </div>
      </div>
      <div class="col mn-w-300p mx-w-500p p-0">
        <h6 class="text-uppercase fw-bold mb-4">{{footerContext.contact}}</h6>
        <div class="row d-flex align-items-center justify-content-center px-0">
          <div class="col p-0 contact-col d-flex align-items-center justify-content-center">
            <div class="mx-w-230p my-2"><i class="fas fa-home me-3 text-secondary"></i>{{companyInfo.companyLocation}}</div>
          </div>
          <div class="col p-0 contact-col d-flex align-items-center justify-content-center">
            <div class="mx-w-230p my-2"><i class="fas fa-envelope me-3 text-secondary"></i>{{companyInfo.companyEmailAddress}}</div>
          </div>
        </div>
        <div class="row d-flex align-items-center justify-content-center px-0">
          <div class="col p-0 contact-col d-flex align-items-center justify-content-center">
            <div class="mx-w-230p my-2"><i class="fas fa-phone me-3 text-secondary"></i>{{companyInfo.companyPhoneNumber}}</div>
          </div>
          <div class="col p-0 contact-col d-flex align-items-center justify-content-center">
            <div class="mx-w-230p my-2"><i class="fas fa-print me-3 text-secondary"></i>{{companyInfo.companyPrintNumber}}</div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="text-center p-4 pt-0">
    © 2077 Copyright:
    <a class="text-reset fw-bold" href="/">Teachly Inc</a>
  </div>
</footer>