<style>
  #footer {
    background-color: #343A40;
    color: rgb(213, 214, 214);
    padding-bottom: 5px;
    height: auto !important;
  }
  .connect-with-us-symbol {
    max-width: 30px !important;
    font-size: 25px;
    margin: 0px !important;
    padding: 0px !important;
    text-align: center;
  }
  .contact-col {
    min-width: 220px !important;
    max-width: 350px !important;
  }
</style>
<footer id="footer" class="text-center text-lg-start">
  <section class="p-4 border-bottom">
    <div class="row" style="width: 100%;">
      <div class="col" style="min-width: 150px;">
        <span>{{footerContext.connectWithUs}}</span>
      </div>
      <div class="col" style="min-width: 150px;">
        <div class="row d-flex flex-wrap justify-content-evenly">
          <div class="col connect-with-us-symbol">
            <a href="" class="me-4 link-secondary"><i class="fab fa-facebook-f"></i></a>
          </div>
          <div class="col connect-with-us-symbol">
            <a href="" class="me-4 link-secondary"><i class="fab fa-twitter"></i></a>
          </div>
          <div class="col connect-with-us-symbol">
            <a href="" class="me-4 link-secondary"><i class="fab fa-google"></i></a>
          </div>
          <div class="col connect-with-us-symbol">
            <a href="" class="me-4 link-secondary"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="m-5">
    <div class="row d-flex flex-wrap justify-content-evenly" style="width: 100%; margin:0% !important">
      <div class="col" style="min-width: 140px !important; max-width: 180px !important;">
        <h6 class="text-uppercase fw-bold mb-4"><i class="fas fa-gem me-3 text-secondary"></i>Teachly</h6>
        <p>{{footerContext.basicCompanydescription}}</p>
      </div>
      <div class="col" style="max-width: 140px !important; min-width: 120px !important;">
        <h6 class="text-uppercase fw-bold mb-4">{{footerContext.usefullLinks}}</h6>

        <div class="row">
          <div class="col">
            <p><a href="\help\pricing" class="text-reset">{{footerContext.pricing}}</a></p>
            <p><a href="\profile\settings" class="text-reset">{{footerContext.settings}}</a></p>
          </div>
          <div class="col">
            <p><a href="\profile\lessons" class="text-reset">{{footerContext.lessons}}</a></p>
            <p><a href="\help" class="text-reset">{{footerContext.help}}</a></p>
          </div>
        </div>
      </div>
      <div class="col" style="min-width: 300px !important; max-width: 500px !important;">
        <h6 class="text-uppercase fw-bold mb-4">{{footerContext.contact}}</h6>
        <div class="row d-flex align-items-center justify-content-center">
          <div class="col contact-col">
            <p><i class="fas fa-home me-3 text-secondary"></i>{{companyInfo.companyLocation}}</p>
          </div>
          <div class="col contact-col">
            <p><i class="fas fa-envelope me-3 text-secondary"></i>{{companyInfo.companyEmailAddress}}</p>
          </div>
        </div>
        <div class="row d-flex align-items-center justify-content-center">
          <div class="col contact-col">
            <p><i class="fas fa-phone me-3 text-secondary"></i>{{companyInfo.companyPhoneNumber}}</p>
          </div>
          <div class="col contact-col">
            <p><i class="fas fa-print me-3 text-secondary"></i>{{companyInfo.companyPrintNumber}}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="text-center p-4 pt-0" style="background-color: rgba(0, 0, 0, 0.025);">
    © 2077 Copyright:
    <a class="text-reset fw-bold" href="/">Teachly Inc</a>
  </div>
</footer>