<style>
    .navbar {
        position: relative;
        background: black;
        width: 100%;
        padding: 0px;
        margin: 0px;
        margin-bottom: 20vh;
        height: 10vh;
    }

    #navlist {
        padding: 0px;
        margin: 0px;
        display: flex;
        background: black;
        width: 100%;
        height: auto;
        padding-top: 5px;
        padding-bottom: 5px;

    }

    .nav-link {
        color: aliceblue !important;
        width: fit-content !important;
        display: inline;
        min-width: 170px;
        font-size: 20px;
        text-align: center;
        background-color: rgb(26, 24, 24);
        margin: 5px !important;
    }

    #toggle-nav {
        margin: auto;
        cursor: pointer;
        flex-wrap: wrap;
        align-items: center;
        visibility: hidden;
        display: none;
        justify-content: space-around;
        width: 100%;
        padding: 5px;
    }

    @media only screen and (max-width: 960px) {

        #toggle-nav {
            visibility: visible;
            display: flex;
        }

        #settings-buttons-list {
            visibility: hidden;
            display: none;
        }

        #nav-list {}
    }
</style>

<nav class="navbar">
    <div id="toggle-nav">
        <div>
            <a class="navbar-brand" style="font-size: 30px; " href="\ ">Teachly</a>
        </div>
        <div style="font-size: 30px;">
            <i onclick="toggleNav()" class="fa fa-bars" style="height: 25px; color:aliceblue"></i>
        </div>
        <div id="settings-buttons">
            <button type="button" class="btn btn-primary">{{settings.lang}}</button>
            <button type="button" class="btn btn-primary">{{settings.cur}}</button>
        </div>
    </div>
    <div id="navlist" class="row d-flex align-items-center justify-content-center">


        <div class="col d-flex align-items-center justify-content-center">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col d-flex align-items-center justify-content-center">
                    <a class="navbar-brand nav-link" href="\learn">{{navbarContext.findTutor}}</a>
                </div>
                <div class="col d-flex align-items-center justify-content-center">
                    <a class="navbar-brand nav-link" href="\teach">{{navbarContext.becomeTutor}}</a>
                </div>
            </div>
        </div>


        <div class="col d-flex align-items-center justify-content-center">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col d-flex align-items-center justify-content-center">
                    <a class="navbar-brand nav-link" href="\register">{{navbarContext.signUp}}</a>
                </div>
                <div class="col d-flex align-items-center justify-content-center">
                    <a class="navbar-brand nav-link" href="\login">{{navbarContext.login}}</a>
                </div>
            </div>
        </div>



        <div id="settings-buttons-list" class=""
            style="width: 130px !important; float:right; padding-top: -20px !important;">
            <div>
                <button type="button" class="btn btn-primary">{{settings.lang}}</button>
                <button type="button" class="btn btn-primary">{{settings.cur}}</button>
            </div>
        </div>

    </div>
</nav>



<script>

    var nav = document.getElementById('navlist');

    if (window.innerWidth > 960) {
        nav.style.visibility = "visible";
        nav.style.display = "block";
    }
    else {
        nav.style.display = "none";
        nav.style.visibility = "hidden";
    }

    function toggleNav() {

        if (nav.style.display === "none") {
            nav.style.display = "block";
            nav.style.visibility = "visible";
        }

        else {
            nav.style.display = "none";
            nav.style.visibility = "hidden";
        }
    }

    function windowResizeHandler() {
        if (window.innerWidth > 960) {
            nav.style.visibility = "visible";
            nav.style.display = "block";

        }
        else {
            nav.style.display = "none";
            nav.style.visibility = "hidden";
        }
    }

    window.addEventListener("resize", windowResizeHandler);



</script>