<link rel="stylesheet" href="/css/navbar.css">
<nav class="navbar" onclick="clearNavPopups()">
    <div id="toggle-nav" class="p-0">
        <div>
            <a class="navbar-brand pl-1 p-2 fs-2 text-light" href="\ ">Teachly</a>
        </div>
        <div class="mr-2">
            <i onclick="toggleNav()" class="fa fa-bars text-light"></i>
        </div>
        <div id="settings-buttons" class="d-flex align-items-center" onclick="event.stopPropagation();">
            <button onclick="toggleNavPopup('language-popup')" type="button"
                class="btn btn-primary m-1 text-uppercase">{{settings.lang}}</button>
            <button onclick="toggleNavPopup('currency-popup')" type="button"
                class="btn btn-primary m-1">{{settings.cur}}</button>
        </div>
    </div>
    <div id="navlist" class="row d-flex align-items-center justify-content-center">
        <div id="large-screen-teachly"><a class="navbar-brand pl-1 p-2 fs-3 text-light" href="\ ">Teachly</a></div>
        <div class="col d-flex align-items-center justify-content-center">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col d-flex align-items-center justify-content-center">
                    <a class="navbar-brand nav-link" href="\learn">{{navbarContext.findTutor}}</a>
                </div>
                <div class="col d-flex align-items-center justify-content-center">
                    <a class="navbar-brand nav-link" href="\teach">{{navbarContext.becomeTutor}}</a>
                </div>
            </div>
        </div>
        <div class="col d-flex align-items-center justify-content-center">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col d-flex align-items-center justify-content-center">
                    <a class="navbar-brand nav-link" href="\register">{{navbarContext.signUp}}</a>
                </div>
                <div class="col d-flex align-items-center justify-content-center align-middle">
                    <a class="navbar-brand nav-link align-middle" href="\login">{{navbarContext.login}}</a>
                </div>
            </div>
        </div>
        <div id="settings-buttons-list" class="float-right w-130 p-1"
            onclick="event.stopPropagation();">
            <div>
                <button onclick="toggleNavPopup('language-popup')" type="button" class="btn btn-primary text-uppercase">{{settings.lang}}</button>
                <button onclick="toggleNavPopup('currency-popup')" type="button"
                    class="btn btn-primary">{{settings.cur}}</button>
            </div>
        </div>
    </div>
</nav>
<div id="nav-popup-holder">
    <div style="float: right; margin-right:0px;">
        <div style="margin-left:-255px;">
            <div class="nav-popup" id="language-popup">
                <div style="text-align: center; margin: 10px; font-size:25px">language</div>
                <div class="d-flex align-items-center justify-content-center">
                    <input class="nav-input form-control form-control-lg border border-info rounded" type="text"
                        id="nav-language-search-input" style="width: 120px !important;"
                        onkeyup="navLangSearch()"></input>
                </div>
                <ul id="language-change" class="nav-list">
                </ul>
            </div>
        </div>
        <div style="margin-left:-210px;">
            <div class="nav-popup" id="currency-popup">
                <div style="text-align: center; margin: 10px; font-size:25px">currency</div>
                <div class="d-flex align-items-center justify-content-center">
                    <input class="nav-input form-control form-control-lg border border-info rounded" type="text"
                        id="nav-currency-search-input" style="width: 80px !important; text-transform: uppercase;"
                        onkeyup="navCurSearch()"></input>
                </div>
                <ul id="currency-change" class="nav-list">
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="/js/navbar.js"></script>