<link rel="stylesheet" href="/css/nvbar.css">
<script src="/js/validCurrencies.js"></script>
<script src="/js/validLanguages.js"></script>


<style>
    .nav-popup {
        position: absolute;
        width: 300px;
        height: 300px;
        background-color: #ffffff;
        display: none;
        visibility: hidden;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        text-align: left;
        overflow: auto;
        -ms-overflow-style: none;
        /* Internet Explorer 10+ */
        scrollbar-width: none;
        /* Firefox */
        font-size: 20px;
        border-radius: 10px;
        webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border-style: solid;
        border-color: white;
        border-width: 20px;
    }

    .nav-popup::-webkit-scrollbar {
        display: none;
    }

    #language-popup {
        width: 200px;
        height: 400px;
        list-style-type: none;
    }

    #currency-popup {
        width: 150px;
        height: 300px;
        padding: 0px !important;
    }

    .navbar {
        position: relative;
        background: black;
        width: 100%;
        padding: 0px;
        margin: 0px;
        margin-bottom: 20px;
        height: 60px;
    }

    .nav-list {
        list-style-type: none;
        text-align: center;
        padding: 0px;
        padding-top: 10px;
    }

    .nav-li {
        list-style-type: none;
        text-align: center;
    }

    #profile-buttons {
        height: 50px;
        text-align: center;
        float: right;

    }

    .nav-popup {
        width: 250px;
        height: auto;
        border-radius: 2%;
        padding: 5px;
        visibility: hidden;
        background: black;
        position: absolute;
        top: 65px;
        right: 5px;
        text-align: left;
    }

    .popup-link {
        width: 100%;
        height: 60px;
        background-color: blueviolet;
        margin: auto;
        padding: 5px;
        font-size: 18px;

        vertical-align: middle;
    }

    .navlist-list {}

    .navlist-list li {
        width: 100%;
        font-size: 18px;
        margin: 10px;
        height: 50px;
        line-height: 18px;
        list-style-type: none;
    }

    .circle-icon {
        background: #ffc0c0;
        width: 47px;
        height: 47px;
        border-radius: 50%;
        text-align: center;
        line-height: 0px;
        vertical-align: middle;
        padding: -5px;
        margin-left: 10px;
    }

    .profile-img {
        width: 47px;
        height: 47px;
        border-radius: 50%;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
    }

    @media only screen and (max-width: 442px) {
        .dispr-mx-442p {
            visibility: hidden;
            display: none;
        }
    }

    @media only screen and (min-width: 442px) {
        .dispr-mn-442p {
            visibility: visible;
            display: flex;
        }
    }
</style>

<div class="navbar text-light">

    <div style="float: left; padding-left: 10px;">
        <h2>Teachly</h2>
    </div>

    <div class="float-right">

        <div id="profile-buttons" class="d-flex align-items-center justify-content-center">

            <div style="width: 40px;" class="m-0 ">
                <i onclick="toggleNavPopup('navlist-popup')" class="fa fa-bars"
                    style="height: 40px; width: 40px; font-size: 40px;"></i>
            </div>

            <div id="settings-buttons-list" class="w-130 p-1" onclick="event.stopPropagation();">
                <div class="d-flex align-items-center justify-content-center">
                    <div class="m-2">
                        <button onclick="toggleNavPopup('language-popup')" type="button"
                            class="btn btn-primary text-uppercase">{{settings.lang}}</button>


                        <div class="nav-popup" id="language-popup">
                            <div style="text-align: center; margin: 10px; font-size:25px">language</div>
                            <div class="d-flex align-items-center justify-content-center">
                                <input class="nav-input form-control form-control-lg border border-info rounded"
                                    type="text" id="nav-language-search-input" style="width: 120px !important;"
                                    onkeyup="navLangSearch()"></input>
                            </div>
                            <ul id="language-change" class="nav-list">
                            </ul>
                        </div>
                    </div>
                    <div>
                        <button onclick="toggleNavPopup('currency-popup')" type="button"
                            class="btn btn-primary">{{settings.cur}}</button>

                        <div class="nav-popup" id="currency-popup">
                            <div style="text-align: center; margin: 10px; font-size:25px">currency</div>
                            <div class="d-flex align-items-center justify-content-center">
                                <input class="nav-input form-control form-control-lg border border-info rounded"
                                    type="text" id="nav-currency-search-input"
                                    style="width: 80px !important; text-transform: uppercase;"
                                    onkeyup="navCurSearch()"></input>
                            </div>
                            <ul id="currency-change" class="nav-list">
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

            <button onclick="toggleNavPopup('notifications-popup')" type="button" id="notifications"
                class="circle-icon">
                <i class="fa fa-bell" aria-hidden="true" style="height: 25px !important;"></i></button>

            <button onclick="toggleNavPopup('messages-popup')" type="button" id="messages" class="circle-icon"><i
                    class='fas fa-comments' aria-hidden="true" style="height: 25px !important;"></i></button>

            <button onclick="toggleNavPopup('profile-popup')" type="button" class="profile-img"
                style="background-image: url('profile/img'); background-repeat: no-repeat; background-size: cover;"></button>

        </div>

        <div class="nav-popup" id="profile-popup">
            <div class="popup-link">

                {{settings.name}}
                <img src="profile/img" alt="user profile image" class="profile-img"
                    style="background-repeat: no-repeat; background-size: cover; margin-right: 10px; float: left;"
                    loading="lazy"></a>

            </div>
            <ul class="navlist-list">
                <li><a href="\profile\settings">{{navbarContext.profilePopup.settings}}</a></li>
                <li><a href="\help">{{navbarContext.profilePopup.help}}</a></li>
                <li><a href="\profile\display">{{navbarContext.profilePopup.display}}</a></li>
                <li><a href="\feedback">{{navbarContext.profilePopup.feedback}}</a></li>
                <li><a href="\auth\logout">{{navbarContext.profilePopup.logout}}</a></li>
            </ul>
        </div>

        <div class="nav-popup" id="messages-popup">
            <div class="popup-link" style="padding: 15px;">
                <h2>
                    {{navbarContext.messagesPopup.messages}}
                </h2>
            </div>
            <ul class="navlist-list" id="messages-list">
            </ul>
        </div>

        <div class="nav-popup d-flex flex-column" id="navlist-popup">
            <a class="navbar-brand" href="\teach">{{navbarContext.navlistPopup.teach}}</a>
            <a class="navbar-brand" href="\learn">{{navbarContext.navlistPopup.learn}}</a>
        </div>

        <div class="nav-popup" id="notifications-popup">
            <div class="popup-link" style="padding: 15px;">
                <h3>
                    {{navbarContext.notificationsPopup.notifications}}
                </h3>
            </div>
            <ul class="navlist-list" id="notificationss-list" style="height: 100%;">
            </ul>
        </div>
    </div>
</div>






<script>
    function navLangSearch() {
        var input, filter;
        input = document.getElementById("nav-language-search-input");
        filter = input.value.toUpperCase();
        list = document.getElementById("language-change").children;
        for (i = 0; i < list.length; i++) {
            txtValue = list[i].textContent || list[i].innerHTML;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                list[i].style.display = "block";
            } else {
                list[i].style.display = "none";
            }
        }
    }

    function navCurSearch() {
        var input, filter;
        input = document.getElementById("nav-currency-search-input");
        filter = input.value.toUpperCase();
        list = document.getElementById("currency-change").children;
        for (i = 0; i < list.length; i++) {
            txtValue = list[i].textContent || list[i].innerHTML;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                list[i].style.display = "block";
            } else {
                list[i].style.display = "none";
            }
        }
    }

    function changeNavSettings(settingName, change) {
        changeObj = {
            settingName: settingName,
            change: change
        }
        axios.post('/auth/settings', changeObj)
            .then(res => {
                window.location.reload();
            })
            .catch(err => {
                console.log(error);
            });
    }

    async function logout() {
        res = await axios.get('/auth/logout');
        if (res.data.err) {
            console.log(res.data.err)
        }
        else {
            window.location = "/"
        }

    }

    function toggleNavPopup(id) {
        var popup = document.getElementById(id);
        if ((popup.style.display != "block")) {
            clearNavPopups()
            popup.style.display = "block";
            popup.style.visibility = "visible";
            try {
                document.getElementById("nav-" + id.split("-")[0] + "-search-input").focus(); //auto focus on input in popup
            }
            catch {
            }
        }
        else {
            popup.style.display = "none";
            popup.style.visibility = "hidden";
        }
    }

    function clearNavPopups() {
        popupArr = document.getElementsByClassName("nav-popup")
        for (i = 0; i < popupArr.length; i++) {
            popupArr[i].style.display = "none";
            popupArr[i].style.visibility = "hidden";
        }
    }

    window.addEventListener('load', function () {

        arr = languageArr.sort((a, b) => { return a[0].localeCompare(b[0], userLang) })
        for (let i = 0; i < arr.length; i++) {
            langPair = arr[i].split(",")
            node = document.createElement("li");
            node.innerHTML = `<div class="nav-li" onclick='changeNavSettings("lang", "${langPair[1]}")'>${langPair[0]}</div>`;
            document.getElementById("language-change").appendChild(node);
        }

        arr = currenciesArr.sort((a, b) => { return a.split(",")[0].localeCompare(b.split(",")[0], userLang) })
        for (let i = 0; i < arr.length; i++) {
            node = document.createElement("li");
            node.innerHTML = `<div class="nav-li" onclick='changeNavSettings("cur","${arr[i]}")''>${arr[i]}</div>`;
            document.getElementById("currency-change").appendChild(node);
        }






        axios.get('/profile/notifications').then(res => {

            if (res.data == "404") {
                console.log("no notifications")
            }
            else {

                document.getElementById("notificationss-list").innerHTML = '';

                for (let i = 0; i < res.data.length; i++) {

                    node = document.createElement("li");
                    node.innerHTML = `<div style="height: 20px; font-size: 20px; line-height: 20px; margin-bottom: 10px;">${res.data[i].text}</div><div style="height: 20px; font-size: 16px; line-height: 16px;">${prettyifyDate(res.data[i].createdAt)}</div>`
                    document.getElementById("notificationss-list").appendChild(node);
                }
            }

        })


        axios.get('/profile/messages').then(res => {

            if (res.data == "404") {
            }
            else {
                for (let i = 0; i < res.data.length; i++) {

                }
            }

        })




    })
</script>