<script async src="https://cdnjs.cloudflare.com/ajax/libs/lz-string/1.4.4/lz-string.min.js"
  integrity="sha512-qoCTmFwBtCPvFhA+WAqatSOrghwpDhFHxwAGh+cppWonXbHA09nG1z5zi4/NGnp8dUhXiVrzA6EnKgJA+fyrpw=="
  crossorigin="anonymous" referrerpolicy="no-referrer"  nonce="{{context.settings.cspNonce}}"></script>


<script src="https://unpkg.com/nouislider@10.0.0/distribute/nouislider.min.js" nonce="{{context.settings.cspNonce}}"></script>
<script src="https://unpkg.com/wnumb@1.1.0" nonce="{{context.settings.cspNonce}}"></script>
<link rel="stylesheet" href="https://unpkg.com/nouislider@10.0.0/distribute/nouislider.min.css" nonce="{{context.settings.cspNonce}}">

<script src="/js/createCourse.js" nonce="{{context.settings.cspNonce}}"></script>

<link rel="stylesheet" href="/css/createCourse.css" nonce="{{context.settings.cspNonce}}">

<script src="/js/customTimeDate.js" nonce="{{context.settings.cspNonce}}"></script>
<link rel="stylesheet" href="/css/customTimeDate.css" nonce="{{context.settings.cspNonce}}">


<section id="create-course" class="py-5 px-0 mx-0 mt-5 d-flex justify-content-center align-items-center w-100 clear-course-popups">
  <div class="container bg-light shadow-md w-75 mn-w-270p custom-rounded" id="create-course-details">
    <form class="row d-flex justify-content-center align-items-center onsubmit-return-false">
      <div class="col-12 p-1">
        <h3 class="m-4 fs-2">{{context.bodyContext.createCourseForm}}</h3>
        <div class="row container d-flex align-items-center justify-content-center m-0 p-0 stop-prop">
          <div class="col p-2 bg-dkr-lght-color m-2 d-flex align-items-center justify-content-center mn-w-270p subject-box-toggle-popup">
            <div>
              <div class="my-2">{{context.bodyContext.subject}}</div>
              <div class="d-flex align-items-center justify-content-center">
                <div id="subject" class="text-center py-2 border rounded border-primary w-240p">
                  {{context.bodyContext.choose}}</div>
                <div class="h-0p w-0p overflow-hidden position-absolute mr-200p mb--17p">
                  <input required id="hidden-subject-input" />
                </div>
              </div>
            </div>
            <div class="popup" id="subject-popup">
              <div>
                <input class="course-input form-control form-control-lg border border-info rounded" type="text"
                  id="subject-search-input"></input>
              </div>
              <ul id="subject-box" class="subject-box-toggle-popup">
              </ul>
            </div>
          </div>
          <div class="col p-2 bg-dkr-lght-color m-2 d-flex align-items-center justify-content-center mn-w-270p"
            id="speciality-box-toggle-popup">
            <div>
              <div class="my-2">{{context.bodyContext.specialities}}</div>
              <div class="d-flex align-items-center justify-content-center">
                <div id="specialities" class="text-center py-2 border rounded border-primary w-240p">
                  {{context.bodyContext.choose}}</div>
              </div>
            </div>
            <div class="popup stop-prop" id="speciality-popup">
              <input class="course-input form-control form-control-lg border border-info rounded" type="text"
                id="speciality-search-input" placeholder=""></input>
              <div id="speciality-checkboxes" class="pt-4">
                <div class="text-center">{{context.bodyContext.pleaseChoosesSubject}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row container d-flex align-items-center justify-content-center m-0 p-0">
          <div
            class="col p-0 m-2 d-flex align-items-center justify-content-center bg-dkr-lght-color mn-w-270p mn-h-225pi">
            <div class="mn-w-270p bg-dkr-lght-color p-3 h-100">
              <div class="my-2">{{context.bodyContext.description}}</div>
              <textarea required id="description" id="subject-search-input" name="" rows="5" cols="80" maxlength="512"
                placeholder="{{context.bodyContext.maxLenDesChars}}"
                class="form-control form-control-lg border border-info rounded fs-6 text-left h-max-content"></textarea>
            </div>
          </div>
          <div class="col p-0 m-2 mn-w-270p mn-h-225p">
            <div
              class="row d-flex align-items-center justify-content-center m-0 p-2 mb-3 bg-dkr-lght-color mn-w-270p h-104-5p">
              <div class="h-200p">
                <div class="my-2 mx-3">{{context.bodyContext.courseImg}}</div>
                <div class="d-flex align-items-center justify-content-center">
                  <div id="course-image"
                    class="border rounded border-primary bg-dkr-lght-color overflow-hidden pt-10p h-40p w-240pi mt-1pi" id="get-file">
                    {{context.bodyContext.clickUploadImageRatio}}</div>
                  <div class="h-0p w-0p overflow-hidden position-absolute mr-320p mb-20p">
                    <input required id="upfile" type="file" value="upload" accept="image/*" />
                  </div>
                </div>
              </div>
            </div>
            <div
              class="row d-flex align-items-center justify-content-center m-0 p-2 mt-3 bg-dkr-lght-color mn-w-270p h-104-5p stop-prop">
              <div class="h-200p d-flex align-items-center justify-content-center taughtIn-box-toggle-popup">
                <div>
                  <div class="my-2">{{context.bodyContext.taughtIn}}</div>
                  <div class="d-flex align-items-center justify-content-center w-100 text-center">
                    <div id="taughtIn"
                      class="border rounded border-primary d-flex align-items-center justify-content-center py-2 w-240p">
                      {{context.bodyContext.choose}}
                      <div class="h-0 w-0 overflow-hidden position-absolute mr-200p mt-20p">
                        <input class="h-0 w-0 h-0pxi w-0pxi overflow-hiddeni position-absolutei" required id="" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="popup" id="taughtIn-popup">
                  <div class="d-flex align-items-center justify-content-center">
                    <input class="course-input form-control form-control-lg border border-info rounded w-90 m-5p" type="text"
                      id="taughtIn-search-input"></input>
                  </div>
                  <div id="taughtIn-list" class="p-0 pt-3 taughtIn-box-toggle-popup">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row container d-flex align-items-center justify-content-center m-0 p-0 stop-prop">
          <div class="col p-2 bg-dkr-lght-color m-2 d-flex align-items-center justify-content-center mn-w-270p clear-course-popups">
            <div>
              <div class="my-2">{{context.bodyContext.priceIn}} {{context.settings.cur}}</div>
              <div class="d-flex align-items-center justify-content-center">
                <input type="number" id="price" required min="1"
                  class="course-input form-control form-control-lg border border-info rounded w-100 w-240pi"></input>
              </div>
            </div>
          </div>
          <div class="col p-2 bg-dkr-lght-color m-2 d-flex align-items-center justify-content-center mn-w-270p timeRange-box-toggle-popup">
            <div>
              <div class="my-2">{{context.bodyContext.timeRange}}</div>
              <div class="d-flex align-items-center justify-content-center">
                <div id="timeRange-button"
                  class="text-center py-2 border rounded border-primary w-240p d-flex align-items-center justify-content-center">
                  {{context.bodyContext.choose}}
                  <div class="h-0 w-0 h-0pxi w-0pxi overflow-hiddeni position-absolutei mr-200p mb--20p">
                    <input class="h-0 w-0 h-0pxi w-0pxi overflow-hiddeni position-absolutei" required id="hidden-timeRange-input" for="nach" />
                  </div>
                </div>
              </div>
              <div class="d-flex align-items-center justify-content-center stop-prop">
                <div class="popup p-0 m-0 border-none" id="timeRange-popup">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row container d-flex align-items-center justify-content-center m-0 p-0 stop-prop">
          <div class="col p-2 bg-dkr-lght-color m-2 d-flex align-items-center justify-content-center mn-w-270p h-107pi clear-course-popups">
            <div class="h-107pi">
              <div class="my-2">time in minutes: <span id="time-shown"></span></div>
              <div class="d-flex align-items-center justify-content-center mt-4 w-100 w-240p">
                <div class="regular-slider w-200pi"></div>
              </div>
            </div>
          </div>
          <div class="col p-2 m-2 d-flex align-items-center justify-content-center mn-w-270p timeRange-box-toggle-popup">

          </div>
        </div>
        <div class="row pt-5">
          <div class="col-md-12 mb-4">
            <div class="d-flex justify-content-center">
              <button type='submit' id="send-course-data" class="btn btn-outline-primary btn-lg mb-3">
                {{context.bodyContext.createCourse}}</button>
            </div>
          </div>
        </div>
    </form>
  </div>
</section>

<div id="err-popup" class="popup text-dark position-fixed">
  <div class="err" id="image-err">{{context.bodyContext.errPopup.nameErr}}</div>
</div>

<section id="create-course-finance"
  class="py-5 px-0 mx-0 mt-5 justify-content-center align-items-center w-100 h-100vh bg-image display-nonei">
  <div class="container bg-light shadow-md w-75 mn-w-270p custom-rounded" id="create-course-finance-col">



    <div class="col-12 px-4 py-5">

      <div class="row d-flex justify-content-center align-items-center fs-5 mb-4 text-align-centeri">
        to complete the course, please log in with a financial platform
      </div>



      <div id="finance-login-paypal-btn" class="row d-flex justify-content-center align-items-center fs-3 mb-3">
        <div class="brdr-r-5p w-fit-content">
          <img src="https://www.paypalobjects.com/devdoc/log-in-with-paypal-button.png" nonce="{{context.settings.cspNonce}}"></img>
        </div>
      </div>

      <div id="finance-login-stripe-btn" class="row d-flex justify-content-center align-items-center mb-3 finance-login-stripe-btn">
        <div class="d-flex justify-content-center align-items-center bg-635bff clr-white w-211p h-46p br-40p fw-500 fs-16p">
          <span class="display-inline-flex mr-5p">
            <img class="w-28p" src="https://b.stripecdn.com/docs-statics-srv/assets/e9b76763ac024da464fae86e9b69dcbf.png" nonce="{{context.settings.cspNonce}}"></img>
          </span>
          <span class="display-inline-flex">
            Connect with
          </span>
          <span class="fw-700 display-inline-flex ml-5p">
            Stripe
          </span>
        </div>
      </div>
    </div>
  </div>
</section>