<link rel="stylesheet" href="/css/landingPage.css" nonce="{{context.settings.cspNonce}}">

<div class="container-fluid text-center blue-gradient">
  <div class="row content m-5 mt-0 py-5">
    <div class="col text-left">
      <h1>{{context.bodyContext.getATutorPitch.header}}</h1>
      <h2>{{context.bodyContext.getATutorPitch.subHeader}}</h2>
      <p>{{context.bodyContext.getATutorPitch.paragraph}}</p>
      <button class="btn btn-outline-dark mt-5"> <a href="/learn"
          class="underline-none">{{context.bodyContext.getATutorPitch.buttonText}}</a>
      </button>
    </div>
  </div>
  <section class="my-5 py-5">
    <div class="row content">
      <div class="col-sm-12 text-center mb-3">
        <h1>{{context.bodyContext.qualityGuarantee.whyTeachly.header}}</h1>
        <h1>{{context.bodyContext.qualityGuarantee.whyTeachly.subHeader}}</h1>
      </div>
    </div>

    <div class="row content">
      <div class="col-sm-4 text-center p-10p">
        <h2>{{context.bodyContext.qualityGuarantee.exellentTutors.header}}</h2>
        <p>{{context.bodyContext.qualityGuarantee.exellentTutors.paragraph}}</p>
      </div>
      <div class="col-sm-4 text-center p-10p">
        <h2>{{context.bodyContext.qualityGuarantee.safetyGuarantee.header}}</h2>
        <p>{{context.bodyContext.qualityGuarantee.safetyGuarantee.paragraph}}</p>
      </div>
      <div class="col-sm-4 text-center p-10p">
        <h2>{{context.bodyContext.qualityGuarantee.satisfactionGuarantee.header}}</h2>
        <p>{{context.bodyContext.qualityGuarantee.satisfactionGuarantee.paragraph}}</p>
      </div>
    </div>
  </section>
  <div class="row content px-1 my-5 h-80vh">
    <div class="col bg-image">
      <div class="bg-image d-flex align-items-center justify-content-center bg-image">
        <div class="text-shadow fs-4 w-50 mn-w-280p">
          <h1>{{context.bodyContext.companyPromise.header}}</h1>
          <p>{{context.bodyContext.companyPromise.paragraph}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row content px-0 my-5 pt-5">
    <div class="col-sm-7 text-left px-5">
      <h1>{{context.bodyContext.findATutor.header}}</h1>
      <p>{{context.bodyContext.findATutor.paragraph}}</p>
      <h4>{{context.bodyContext.findATutor.promise1}}</h4>
      <h4>{{context.bodyContext.findATutor.promise2}}</h4>
      <button class="btn btn-outline-dark my-5"> <a href="/learn" class="underline-none">
          {{context.bodyContext.findATutor.buttonText}}</a></button>
    </div>
    <div class="col-sm-5">
      <img src="images/img-1.jpg" alt={{context.bodyContext.findATutor.imageAlt}} width="400" height="300"
        class="small-img" loading="lazy" />
    </div>
  </div>
  <div class="row content px-0 py-5 mt-5">
    <div class="col-sm-7 text-left px-5">
      <h1>{{context.bodyContext.becomeATutor.header}}</h1>
      <p>{{context.context.bodyContext.becomeATutor.paragraph}}</p>
      <h4>{{context.bodyContext.becomeATutor.promise1}}</h4>
      <h4>{{context.bodyContext.becomeATutor.promise2}}</h4>
      <button class="btn btn-outline-dark my-5"> <a href="/teach" class="underline-none">
          {{context.bodyContext.becomeATutor.buttonText}}</a> </button>
    </div>
    <div class="col-sm-5">
      <img src="images/img-1.jpg" alt={{context.bodyContext.becomeATutor.imageAlt}} width="400" height="300"
        class="small-img" loading="lazy" />
    </div>
  </div>
</div>