<style>
  .small-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
</style>



<div class="container-fluid text-center">


  <!-- Section: advanced get a tutor pitch -->
  <div class="row content">

    <div class="col-sm-7 text-left">
      <h1>{{context.bodyContext.getATutorPitch.header}}</h1>
      <h2>{{context.bodyContext.getATutorPitch.subHeader}}</h2>
      <p>{{context.bodyContext.getATutorPitch.paragraph}}</p>
      <button>{{context.bodyContext.getATutorPitch.buttonText}}</button>
    </div>
    <div class="col-sm-5">
      <img src="images/img-1.jpg" alt={{context.bodyContext.getATutorPitch.imageAlt}} width="400" height="300"
        class="small-img" loading="lazy" />
    </div>
  </div>
  <!-- Section: advanced get a tutor pitch -->
  <!-- Section: quality guarantee -->
  <section>

    <div class="row content">
      <div class="col-sm-12 text-center">
        <h1>{{context.bodyContext.qualityGuarantee.whyTeachly.header}}</h1>
        <h1>{{context.bodyContext.qualityGuarantee.whyTeachly.subHeader}}</h1>
      </div>
    </div>

    <div class="row content">
      <div class="col-sm-4 text-center" style="padding:10px;">
        <h2>{{context.bodyContext.qualityGuarantee.exellentTutors.header}}</h2>
        <p>{{context.bodyContext.qualityGuarantee.exellentTutors.paragraph}}</p>
      </div>
      <div class="col-sm-4 text-center" style="padding:10px;">
        <h2>{{context.bodyContext.qualityGuarantee.safetyGuarantee.header}}</h2>
        <p>{{context.bodyContext.qualityGuarantee.safetyGuarantee.paragraph}}</p>
      </div>
      <div class="col-sm-4 text-center" style="padding:10px;">
        <h2>{{context.bodyContext.qualityGuarantee.satisfactionGuarantee.header}}</h2>
        <p>{{context.bodyContext.qualityGuarantee.satisfactionGuarantee.paragraph}}</p>
      </div>
    </div>
  </section>
  <!-- Section: quality guarantee -->
  <!-- Section: company promise -->
  <div class="row content">
    <div class="col-sm-12"
      style="background-image: url('images/img-1.jpg'); background-repeat: no-repeat; background-size: cover; height: 70vh;">
      <div style="width: 30vw; float: right; padding: 10px;" align="left">
        <h1>{{context.bodyContext.companyPromise.header}}</h2>
          <p>{{context.bodyContext.companyPromise.paragraph}}</p>
      </div>
    </div>
  </div>
  <!-- Section: company promise -->
  <!-- Section: find a tutor -->
  <div class="row content">
    <div class="col-sm-7 text-left">
      <h1>{{context.bodyContext.findATutor.header}}</h1>
      <p>{{context.bodyContext.findATutor.paragraph}}</p>
      <h4>{{context.bodyContext.findATutor.promise1}}</h4>
      <h4>{{context.bodyContext.findATutor.promise2}}</h4>
      <button>{{context.bodyContext.findATutor.buttonText}}</button>
    </div>
    <div class="col-sm-5">
      <img src="images/img-1.jpg" alt={{context.bodyContext.findATutor.imageAlt}} width="400" height="300"
        class="small-img" loading="lazy" />
    </div>
  </div>
  <!-- Section: find a tutor -->
  <!-- Section: become a tutor -->
  <div class="row content">
    <div class="col-sm-7 text-left">
      <h1>{{context.bodyContext.becomeATutor.header}}</h1>
      <p>{{context.context.bodyContext.becomeATutor.paragraph}}</p>
      <h4>{{context.bodyContext.becomeATutor.promise1}}</h4>
      <h4>{{context.bodyContext.becomeATutor.promise2}}</h4>
      <button>{{context.bodyContext.becomeATutor.buttonText}}</button>
    </div>
    <div class="col-sm-5">
      <img src="images/img-1.jpg" alt={{context.bodyContext.becomeATutor.imageAlt}} width="400" height="300"
        class="small-img" loading="lazy" />
    </div>
  </div>
  <!-- Section: become a tutor -->
</div>