<link rel="apple-touch-icon" href="/docs/5.0/assets/img/favicons/apple-touch-icon.png" sizes="180x180" nonce="{{context.settings.cspNonce}}">
<link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png" nonce="{{context.settings.cspNonce}}">
<link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png" nonce="{{context.settings.cspNonce}}">
<meta name="theme-color" content="#7952b3">
<link rel="stylesheet" href="/css/utils.css" nonce="{{context.settings.cspNonce}}">
<link rel="stylesheet" href="/css/learn.css" nonce="{{context.settings.cspNonce}}">
<script src="https://unpkg.com/nouislider@10.0.0/distribute/nouislider.min.js" nonce="{{context.settings.cspNonce}}"></script>
<script src="https://unpkg.com/wnumb@1.1.0" nonce="{{context.settings.cspNonce}}"></script>
<link rel="stylesheet" href="https://unpkg.com/nouislider@10.0.0/distribute/nouislider.min.css" nonce="{{context.settings.cspNonce}}">
<div class="mt--100p">
    <div id="search-bar-buttons">
        <div class="fs-30p sans-serif light-blue-text-shadow float-left pl-15p pr-15p">Filters</div>
        <div class="float-righti w-calc-100-120pi">
            <button
                class="bg-black h-40pi fs-20p float-right m-0 p-0 btn btn-outline-primary ml-10pi w-50p"
                id="toggle-search-bar-button">
                <span class="fa-stack h-40p vert-align-top">
                    <i id="toggle-search-bar-button-symbol"
                        class="fa fa-bars fa-stack-1x fa-inverse h-40pi fs-30p clr-wht light-blue-text-shadowi h-40p mt--10p w-50p"></i>
                </span>
            </button>
            <button id="advanced-search-button"
                class="bg-black h-40p fs-20p float-right m-0 p-1 btn btn-outline-primary display-nonei mx-2">
                advanced settings
            </button>
        </div>
    </div>
</div>
<div id="product-search-bar">


    <div class="row w-100 d-flex align-items-center justify-content-center m-0 p-0">
        <div class="col">
            <div class="row">
                <div class="col container d-flex align-items-center justify-content-center">
                    <div id="toggle-subject-popup">
                        <div class="my-3">Subject Search</div>
                        <input required class="form-control form-control-md border border-info rounded mn-w-152p"
                            type="text" id="subject-search-input"
                            onkeyup='searchBox("subject-links", "subject-search-input")'></input>
                    </div>
                    <div class="popup" id="subject-popup">
                        <ul id="subject-links" class="pl-5p">

                        </ul>
                    </div>
                </div>
                <div class="col container d-flex align-items-center justify-content-center">
                    <div id="speciality-subject-popup">
                        <div class="my-3">Speciality Search</div>
                        <input required class="form-control form-control-md border border-info rounded mn-w-152p"
                            type="text" id="speciality-search-input" placeholder=""
                            onkeyup='searchBox("speciality-checkboxes", "speciality-search-input")'></input>
                    </div>
                    <div class="popup" id="speciality-popup">
                        <div id="speciality-checkboxes" class="pl-5p"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col container d-flex align-items-center justify-content-center">
                    <div>
                        <div class="my-3">search By Keyword</div>
                        <input required class="form-control form-control-md border border-info rounded mn-w-152p"
                            id="searchBy-input" type="text" placeholder=""
                            onkeyup='updateformData("searchBy", "searchBy-input")'></input>
                        <div class="popup">
                        </div>
                    </div>
                </div>
                <div class="col container d-flex align-items-center justify-content-center">
                    <div id="taughtIn-subject-popup">
                        <div class="my-3">Taught In</div>
                        <input required class="form-control form-control-md border border-info rounded mn-w-152p"
                            id="taughtIn-search-input" type="text" placeholder=""
                            onkeyup='searchBox("taughtIn-checkboxes", "taughtIn-search-input")'></input>
                    </div>
                    <div class="taughtIn-search-popup popup" id="taughtIn-popup">
                        <div id="taughtIn-checkboxes" class="pl-5p"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <div class="row w-100 d-flex align-items-center justify-content-center m-0 p-0 pt-3">
        <div class="col">
            <div class="row">
                <div class="col container d-flex align-items-center justify-content-center">
                    <div id="pricePerLesson-subject-popup">
                        <div class="my-3">price Per Lesson</div>
                        <button
                            class="btn btn-md btn-outline-secondary container d-flex align-items-center justify-content-center mn-w-152p mn-h-46p">
                            <span class="currency">
                                <span class="display-nonei" id="min-price-shown">50.000</span>
                                <span></span>
                            </span>

                            <span class="ml-5p mr-5p">-</span>

                            <span class="currency">
                                <span class="display-nonei" id="max-price-shown">50.000</span>
                                <span></span>
                            </span>
                            <i class="fa fa-caret-down fa-2x pl-5p" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="popup container d-flex align-items-center justify-content-center"
                        id="pricePerLesson-popup">
                        <div class="container text-center p-0">
                            <div class="container d-flex align-items-center justify-content-center text-dark">
                            </div>
                            <div class="regular-slider d-flex align-items-center justify-content-center m-2"></div>
                        </div>
                    </div>
                </div>
                <div class="col container d-flex align-items-center justify-content-center">
                    <div id="orderBy-subject-popup">
                        <div class="my-3">order By</div>
                        <button id="orderBy-button"
                            class="d-flex align-items-center justify-content-center btn btn-md btn-outline-secondary text-capitalize mn-w-152p mn-h-46p">
                            <i class="fa fa-caret-down fa-2x pl-5p" aria-hidden="true"></i></button>
                    </div>
                    <div class="popup" id="orderBy-popup">
                        <form action="#" class="p-2 ">
                            <input required class="form-check-input"
                                type="radio" value="Popularity" name="Order-By" id="Popularity">
                            <label class="form-check-label text-dark" for="Popularity">Popularity</label>

                            <br>
                            <input required class="form-check-input"
                                 type="radio"
                                value="Price:-highest-first" name="Order-By" id="Price:-highest-first">
                            <label class="form-check-label text-dark" for="Price:-highest-first">Price: highest
                                first</label>

                            <br>
                            <input class="form-check-input"
                                type="radio" value="Price:-lowest-first" name="Order-By" id="Price:-lowest-first">
                            <label class="form-check-label text-dark" for="Price:-lowest-first">Price:
                                lowest-first</label>
                            <br>
                            <input class="form-check-input"
                                type="radio" value="Number-of-reviews" name="Order-By" id="Number-of-reviews">
                            <label class="form-check-label text-dark" for="Number-of-reviews">Number of
                                reviews</label>
                            <br>
                            <input class="form-check-input"
                                type="radio" value="Best-rating" name="Order-By" id="Best-rating">
                            <label class="form-check-label text-dark" for="Best-rating">Best rating</label>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col container d-flex align-items-center justify-content-center">
                    <div id="timeRange-subject-popup">
                        <div class="my-3">‎ </div>
                        <button
                            class="d-flex align-items-center justify-content-center btn btn-md btn-outline-secondary text-capitalize mn-w-152p mn-h-46p">timeRange
                            <i class="fa fa-caret-down fa-2x pl-5p" aria-hidden="true"></i></button>
                    </div>
                    <div class="popup" id="timeRange-popup">
                        <div id="timeRange-popup-rows" class="text-center w-100 p-0">
                        </div>
                    </div>
                </div>
                <div class="col container d-flex align-items-center justify-content-center">
                    <div class="clear-search-popups">
                        <div class="my-3">‎ </div>
                        <div>
                            <button id="search-courses"
                                class="btn btn-md btn-outline-secondary text-capitalize mn-w-152p mn-h-46p">search
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row w-100 align-items-center justify-content-center m-0 p-0 pt-3 display-nonei"
        id="advanced-search-bar">
        <div class="col">
            <div class="row">
                <div class="col container d-flex align-items-center justify-content-center">
                    <div id="course-time-subject-popup">
                        <div class="my-3">lesson time</div>
                        <button
                            class="btn btn-md btn-outline-secondary container d-flex align-items-center justify-content-center mn-w-152p mn-h-46p">
                            <span id="min-course-time"></span>
                            <span class="ml-5p mr-5p">-</span>
                            <span id="max-course-time"></span>
                            <span> minutes</span>
                        </button>
                    </div>
                    <div class="popup container d-flex align-items-center justify-content-center"
                        id="course-time-popup">
                        <div class="container text-center">
                            <div class="container d-flex align-items-center justify-content-center text-dark">
                            </div>
                            <div class="time-slider"></div>
                        </div>
                    </div>
                </div>
                <div class="col container d-flex align-items-center justify-content-center">
                    <div >
                        <div class="my-3">‎</div>
                        <div class="container d-flex align-items-center justify-content-center mn-w-152p mn-h-46p">
                        </div>
                    </div>
                    <div class="popup container d-flex align-items-center justify-content-center" id="">
                        <div class="container text-center">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col container d-flex align-items-center justify-content-center">
                    <div>
                        <div class="my-3">‎</div>
                        <div class="container d-flex align-items-center justify-content-center mn-w-152p mn-h-46p">
                        </div>
                    </div>
                    <div class="popup container d-flex align-items-center justify-content-center" id="">
                        <div class="container text-center">
                        </div>
                    </div>
                </div>
                <div class="col container d-flex align-items-center justify-content-center">
                    <div >
                        <div class="my-3">‎</div>
                        <div class="container d-flex align-items-center justify-content-center mn-w-152p mn-h-46p">
                        </div>
                    </div>
                    <div class="popup container d-flex align-items-center justify-content-center" id="">
                        <div class="container text-center">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script nonce="{{context.settings.cspNonce}}">
    const subject = "{{context.settings.subject}}"
    const speciality = "{{context.settings.speciality}}"
    const courseJson = JSON.parse(`{{json context.bodyContext.courseContext }}`.replaceAll('&quot;', `"`))
</script>
<script src="/js/learn.js" nonce="{{context.settings.cspNonce}}"></script>
<main class="clear-search-popups">
    <section class="py-5 text-center container w-100 h-50vh">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto mt-5">
                <br>
                <h1 class="fw-light">browse our skilled tutors</h1>
                <p class="lead text-muted fs-3">
                    "It Alsways Seems Imposible Until It's Done" - Nelson Mandela
                </p>
            </div>
        </div>
    </section>
    <div class="py-5 mx-0 px-0 ">
        <div class="mx-0 px-0">
            <div class="row p-0 m-0">
                <div id="courses" class="p-0 m-0">
                    <div id="course-cards"
                        class="m-0 py-5 p-0 my-5 p-0 d-flex flex-column justify-content-center align bg-beige">
                    </div>
                    <div id="course-pagination">
                    </div>
                </div>
                <div id="no-courses" class="center-inner fs-1 hidden">
                    <div class="center-inner">
                        no courses
                    </div>
                </div>
                <div id="server-error" class="center-inner fs-1 hidden">
                    <div class="center-inner">
                        server error
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
