<style>
  .small-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 3%;
  }

  .bg-image {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('images/img-8.jpg')
  }


  .underline-none {
    text-decoration-line: none;
  }

  .blue-gradient {
    background-color: #7475c2;
    background-image: linear-gradient(to bottom right, #a1a1df, #88bdde, #b4a6d8, #939fe4, #a4a4eb, #97a2ef);
  }

  .bdr-lgt-bl {
    border-style: solid;
    border-color: #a1a1df;
    border-width: 5px;
  }

  .custom-rounded {
    border-radius: 3%;
  }

  .min-w-200p {
    min-width: 300px !important;
  }

  .p-20p {
    padding: 20px;
  }

  .min-h-220p {
    min-height: 250px;
  }
</style>
<div class="container-fluid text-center blue-gradient px-0 mx-0" style="margin-top: -20px !important; margin-bottom: -50px;">
  <div class="row content px-0 mb-5  px-0 mx-0" style="margin-top: 0px !important; height: 92vh;">
    <div class="col px-0 mx-0">
      <div class="bg-image d-flex align-items-center justify-content-center px-0 mx-0">
        <div class="px-0 mx-0" style="width: 60%; min-width: 300px; color:rgb(2, 25, 31); text-shadow: 1px 1px rgb(179, 178, 194);">
          <h1>{{context.bodyContext.bgText}}</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="row content px-0 mx-0" style="margin-top: 100px;">
    <div class="col-sm-12 px-0 mx-0">
      <h1 style="text-align: left; width:80%; min-width: 300px; margin-left: 10%;">
        {{context.bodyContext.ideology.header}}</h1>
      <div class="fw-bold pt-4  px-0 mx-0"
        style="text-align: left; width:80%; min-width: 250px; margin-left: 10% !important; max-width: 745px;">
        <p class="fs-5">{{context.bodyContext.ideology.p1}}</p>
        <p class="fs-5">{{context.bodyContext.ideology.p2}}</p>
        <p class="fs-5">{{context.bodyContext.ideology.p3}}</p>
        <p class="fs-5">{{context.bodyContext.ideology.p4}}</p>
      </div>
    </div>
  </div>

  <div class="row content px-0 mx-0" style="margin-top: 100px;">
    <div class="col-sm-12 text-center px-3">
      <h1 class="mb-5">{{context.bodyContext.guidelines.header}}</h1>
      <div class="row d-flex align-items-center justify-content-center">
        <div class="col">
          <div class="row">
            <div class="col min-w-200p p-20p min-h-220p fs-5 ">{{context.bodyContext.guidelines.p1}}</div>
            <div class="col min-w-200p p-20p min-h-220p fs-5 ">{{context.bodyContext.guidelines.p2}}</div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col min-w-200p p-20p min-h-220p fs-5 ">{{context.bodyContext.guidelines.p3}}</div>
            <div class="col min-w-200p p-20p min-h-220p fs-5 ">{{context.bodyContext.guidelines.p4}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row content px-0 mx-0">
    <h1 class="my-5">{{context.bodyContext.rules.header}}</h1>
    <div class="row d-flex align-items-center justify-content-center mx-0 p-1">
      <div class="col p-1">
        <div class="row p-1">
          <div class="col min-w-200p p-20p min-h-220p fs-5 blue-gradient custom-rounded">{{context.bodyContext.rules.p1}}</div>
          <div class="col min-w-200p p-20p min-h-220p fs-5 blue-gradient custom-rounded">{{context.bodyContext.rules.p2}}</div>
        </div>
      </div>
      <div class="col p-1">
        <div class="row p-1">
          <div class="col min-w-200p p-20p min-h-220p fs-5 blue-gradient custom-rounded">{{context.bodyContext.rules.p3}}</div>
          <div class="col min-w-200p p-20p min-h-220p fs-5 blue-gradient custom-rounded">{{context.bodyContext.rules.p4}}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="row content px-0 mx-0 mb-5" style="margin-top: 0px !important; height: 60vh;">
    <div class="col px-0">
      <div class="d-flex align-items-center justify-content-center">
        <div style="width: 60%; min-width: 300px; color:rgb(2, 25, 31); margin-top: 10%;">
          <button class="btn btn-outline-dark my-3 fs-4">
            <a href="/teach/create-course"
              class="underline-none">{{context.bodyContext.createCourse.createCourseButton}}</a>
          </button>
          <p class="fs-5 mt-5">{{context.bodyContext.createCourse.p1}} <a
              href="/teach/terms-of-servise/create-course">{{context.bodyContext.createCourse.p2}}</a></p>
        </div>
      </div>
    </div>
  </div>

</div>