<link rel="stylesheet" href="/css/teachLandingPage.css" nonce="{{context.settings.cspNonce}}">
<div class="container-fluid text-center blue-gradient px-0 mx-0 mt--20pi mb--50p">
  <div class="row content px-0 mb-5 px-0 mx-0 mt-0pi h-92vh">
    <div class="col px-0 mx-0">
      <div class="bg-image d-flex align-items-center justify-content-center px-0 mx-0">
        <div class="px-0 mx-0 w-60 mn-w-300p clr-rgb-2-25-31 text-shadow-1p-1p-rgb-179-178-194">
          <h1 class="px-5">{{context.bodyContext.bgText}}</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="row content align-items-center justify-content-center px-0 mx-0 mt-100p text-center">
    <div class="col-sm-12 px-0 mx-0 px-0 text-center">
      <h1 class="mn-w-300p text-center">
        {{context.bodyContext.ideology.header}}</h1>
      <div class="fw-bold pt-4 p-0 m-0 mn-w-250p text-center mx-5 px-5s">
        <p class="fs-5 text-center">{{context.bodyContext.ideology.p1}}</p>
        <p class="fs-5 text-center">{{context.bodyContext.ideology.p2}}</p>
        <p class="fs-5 text-center">{{context.bodyContext.ideology.p3}}</p>
        <p class="fs-5 text-center">{{context.bodyContext.ideology.p4}}</p>
      </div>
    </div>
  </div>

  <div class="row content px-0 mx-0 mt-100p">
    <div class="col-sm-12 text-center px-3">
      <h1 class="mb-5 mt-4">{{context.bodyContext.guidelines.header}}</h1>
      <div class="row d-flex align-items-center justify-content-center mx-3">
        <div class="col">
          <div class="row">
            <div class="col min-w-200p p-20p min-h-220p fs-5 shadow m-2 custom-rounded">
              {{context.bodyContext.guidelines.p1}}</div>
            <div class="col min-w-200p p-20p min-h-220p fs-5 shadow m-2 custom-rounded">
              {{context.bodyContext.guidelines.p2}}</div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col min-w-200p p-20p min-h-220p fs-5 shadow m-2 custom-rounded">
              {{context.bodyContext.guidelines.p3}}</div>
            <div class="col min-w-200p p-20p min-h-220p fs-5 shadow m-2 custom-rounded">
              {{context.bodyContext.guidelines.p4}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row content px-0 mx-0">
    <h1 class="my-5">{{context.bodyContext.rules.header}}</h1>
    <div class="row d-flex align-items-center justify-content-center mx-0">
      <div class="col m-2">
        <div class="row m-2">
          <div class="col min-w-200p p-20p min-h-220p fs-5 shadow custom-rounded m-2 mt-4">{{context.bodyContext.rules.p1}}
          </div>
          <div class="col min-w-200p p-20p min-h-220p fs-5 shadow custom-rounded m-2 mt-4">{{context.bodyContext.rules.p2}}
          </div>
        </div>
      </div>
      <div class="col m-2">
        <div class="row m-2">
          <div class="col min-w-200p p-20p min-h-220p fs-5 shadow custom-rounded m-2 mt-4">{{context.bodyContext.rules.p3}}
          </div>
          <div class="col min-w-200p p-20p min-h-220p fs-5 shadow custom-rounded m-2 mt-4">{{context.bodyContext.rules.p4}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row content px-0 mx-0 mb-5 mt-0pi h-60vh">
    <div class="col px-0">
      <div class="d-flex align-items-center justify-content-center">
        <div class="w-60i mn-w-300p clr-rgb-2-25-31 mt-10">
          <button class="btn btn-outline-dark my-3 fs-4">
            <a href="/teach/create-course"
              class="underline-none">{{context.bodyContext.createCourse.createCourseButton}}</a>
          </button>
          <p class="fs-5 mt-5">{{context.bodyContext.createCourse.p1}} <a
              href="/teach/terms-of-servise/create-course">{{context.bodyContext.createCourse.p2}}</a></p>
        </div>
      </div>
    </div>
  </div>
</div>