<!DOCTYPE html>
<html lang="{{context.language}}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
    integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico.png">
  <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
  <link rel="stylesheet" href="/css/main.css">
  <title>{{context.bodyContext.title}}</title>
</head>

<script src="/js/mainLayout.js"></script>
<script>
  const userLang = "{{context.settings.lang}}"
  const userCur = "{{context.settings.cur}}"
  var curConversionRatio = "{{context.settings.curRatio}}"
  updateCurrencyInterval(userCur)

  function prettyifyDate(date) { // it comes in as seconds from epoch
    try {
      var secs = Math.floor(Date.now() / 1000) - date
      if (secs < 60) return "{{context.layoutContext.secsAgoPrier}}" + secs + "{{context.layoutContext.secsAgoPost}}";
      if (secs < 3600) return "{{context.layoutContext.minAgoPrier}}" + Math.floor(secs / 60) + "{{context.layoutContext.minAgoPost}}";
      if (secs < 86400) return "{{context.layoutContext.hourAgoPrier}}" + Math.floor(secs / 3600) + "{{context.layoutContext.hourAgoPost}}";
      if (secs < 604800) return "{{context.layoutContext.daysAgoPrier}}" + Math.floor(secs / 86400) + "{{context.layoutContext.daysAgoPost}}";
      return date.toDateString();
    }
    catch (err) {
      return ""
    }
  }

  function updateDates(date) { // it comes in as seconds from epoch
    dates = document.getElementsByClassName("data")
    for (let i = 0; i < dates.length; i++) {
      num = date[i][0].innerHtml
      dates[i][1].innerHtml = prettyifyDate(num)
    }
  }
</script>

<body>
  {{#if context.navbar}}
  {{> _navbar navbarContext = context.navbar settings = context.settings}}
  {{/if}}
  {{#if context.userNavbar}}
  {{> _userNavbar navbarContext = context.userNavbar settings = context.settings}}
  {{/if}}
  {{{body}}}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  {{#if context.footer}}
  {{>_footer footerContext = context.footer companyInfo = context.companyInfo}}
  {{/if}}
  {{#if context.cookiesPopup}}
  {{>_cookiesPopup cookiesText = context.cookiesPopup}}
  {{/if}}
</body>

</html>